
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin:0;
  background-image: url("../C_image/cusSignup.png");
  background-size:cover;
}
.conent{
    position: absolute;
    width: 978px;
    height: 616.27px;
    left: 18.55%;
    right: 20.55%;
    top: 100px;
  
  
    backdrop-filter: blur(400px);
    -webkit-backdrop-filter: blur(400px);
    background-color:linear-gradient(114.1deg, rgba(40, 40, 40, 0.91) 18.52%, rgba(15, 15, 15, 0.73) 98.52%), linear-gradient(106.04deg, rgba(255, 255, 255, 0.12) 10.95%, rgba(255, 255, 255, 0.1) 98.32%);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 43px;
}

.content form .user-details{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box1,.input-box2,.input-box3, .input-box4, .input-box5, .input-box6, .input-box7{ 
  position: absolute;
  height: 44px;
  opacity: 0.9;
}

.user-details .input-box1 input, .input-box2 input, .input-box3 input, .input-box4 input, .input-box5 input,.input-box6 input, .input-box7 input{
  position: absolute;
  top: 0%;
  bottom: 0%;

  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  color: #F5F5F5; 

}

form .user-details .input-box1{
    width: 299px;
    padding-left: 3400px;
    top: 50px;
} 


.user-details .input-box1 input{
    left: 8.47%;
    right:22.48%;
 }

 form .input-box2{
  width: 299px;
  top: 50px;
}

.input-box2 input{
  left: 8.47%;
  right: 22.48%;
}

form .input-box3{
  width: 407px;
  left: 280px;
  top: 120px;
}

.input-box3 input{
  width: 315.42px;
  left: 8.47%;
  right:22.48%;
}
  
form .input-box4{
  width: 407px;
  left: 280px;
  top: 190px;
}

.input-box4 input{
  width: 315.42px;
  left: 8.47%;
  right:22.48%;
}

form .input-box5{
  width: 611px;
  left: 260px;
  top: 260px;
}

.input-box5 input{
  left: 8.47%;
  right:22.48%;
  width: 449px;
}

form .input-box6{
  width: 407px;
  left: 280px;
  top: 330px;
}

.input-box6 input{
  width: 315.42px;
  left: 8.47%;
  right:22.48%;
 
}

form .input-box7{
  width: 407px;
  left: 280px;
  top: 400px;
}

.input-box7 input{
  width: 315.42px;
  left: 8.47%;
  right:22.48%;
}
 @media(max-width: 584px){
 .content{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }

  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .content {
    flex-direction:column;
  }
}
