*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
  }

body{
        margin:0;
        width:100%;
        background-image: url("../C_image/cusSignup.png");
        background-repeat: no-repeat;
        background-size:cover;
        -webkit-background-size: cover;
        object-fit: cover;
        background-position-x: center;
        background-position-y: 10%;
}

.container{
    display: flex;
    flex-wrap:wrap;
}

.left{
    display: flex;
    flex-direction: column;
    order:0;
    padding: 20% 12%;
}

.left label{
    position: relative;
    width: 489px;
    height: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 93.8%;
    /* or 60px */
    color: #FFFFFF;
}

.button{
    position: relative;
    width: 187px;
    height: 43px; 
    text-align: center;
    padding-top:2.5%;
    background: #ce5eae;
    border-radius: 20px;
}

.button input{
    position: relative;
    width: 145px;
    height: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    border-color: transparent;
    color: #FFFFFF;
}

.right{
    position: relative;
    display: flex;
    flex-direction: column;
    order:1;
    padding:8%;
    
}

.glass{
    width:300px;
    text-align:center;
    background: linear-gradient(19.12deg, rgba(40, 40, 40, 0.18) 36.95%, rgba(15, 15, 15, 0.67) 97.84%), linear-gradient(106.04deg, rgba(255, 255, 255, 0.12) 10.95%, rgba(255, 255, 255, 0.1) 98.32%);
    backdrop-filter: blur(120px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 43px;
    padding:15%;

}
.box{
    position: relative;
    text-align: center;
    width: 199px;
    height: 218px;
    padding:1%;
    background: linear-gradient(39.56deg, rgba(255, 161, 164, 0.2) 2.9%, rgba(241, 120, 182, 0.57) 96.8%), linear-gradient(106.04deg, rgba(255, 255, 255, 0.12) 10.95%, rgba(255, 255, 255, 0.1) 98.32%);
    backdrop-filter: blur(120px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 19px;
}

.box lable{
    position: relative;
    font-family: Alatsi;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 20px;
    color: #FFFFFF;
}
.glass lable{
position: relative;
font-family: Actor;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 105.4%;
/* or 16px */
color: rgba(255, 255, 255, 0.93);

}
.footer{
    display: flex;
    flex-wrap:wrap;
    background-color:black;
    padding:2%;
}

.foot-up{
    display: flex;
    flex-direction: raw;
    order:0;
    padding:2%;
}

.logo{
    position:relative;
    display: flex;
    flex-direction:column;
    order:0;
    width:350px;
}

.logo img{
    position:relative;
    width: 408px;
    height: 408px; 
}

.support{
    display: flex;
    flex-direction:column;
    order:1;
    padding:5%;
    width:350px;
}

.support label{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    color: #FFD4D7;
}
.support ul{
    list-style-type:none;
}

.support ul li a{
    text-decoration: none;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color:rgba(255, 255, 255, 0.93);
}


.quick{
    display: flex;
    flex-direction:column;
    order:2;
    padding:5%;
    width:350px;
}

.quick label{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    color: #FFD4D7;
}

.quick ul li a{
    text-decoration: none;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color:rgba(255, 255, 255, 0.93);
}

.quick ul{
    list-style-type:none;
}

.contact{
    display: flex;
    flex-direction: column;
    order:3;
    padding:5%;
    width:350px;
}

.contact label{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 24px;
    color: #FFD4D7;
}

.contact ul li{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color:rgba(255, 255, 255, 0.93);
}

.contact ul{
    list-style-type:none;
}

.foot-up{
    display: flex;
    flex-direction: raw;
    order:1;
}